

<form>
    <label class="textArea-label" for="newblogPost">
        Your comment
    </label>
    <br>
<textarea class="blogPost-textarea" name"newBlogPost" rows="5" cols="30">{{newBlogPost}}</textarea>
</form>


<button class="save-blogPost">Save new post</button>

<script src="/js/newpost.js"></script>