<div class="container">
    <div class="posts container h-100 w-100 justify-content-center">
        <a href="/homepage/{{id}}">
            <p>{{topic}} on {{format_date createdAt}}</p>
        </a>
    </div>
</div>