<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Attila's Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-row justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        💻 Attila's Tech Blog 💽
      </h1>
    </header>
    <nav>
      <a href="/homepagestart">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </div>
</body>

</html>