<head>
  <meta charset="UTF-8">
  <title>Attila's Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-row justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        💻 Attila's Tech Blog 💽
      </h1>
    </header>
     <nav>
    <a href="/">Home</a>
    <a href="/">Dashboard</a>
    <a href="/login">Login</a>
    <button id="logout" class="btn-no-style">Logout</button>
  </nav>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>