

<h2>Your Dasboard</h2>


{{#each blogs}}
<a href="/dashboard/{{id}}">
<p>Topic: {{ this.topic}}  Blog Post: {{this.content}}</p>
</a>

{{/each}}

<a href="/newblogpost">

<button>New blog post</button>
</a>