<div class="container h-100 w-100 justify-content-center">

    <h2>Your Dasboard</h2>


    {{#each blogs}}
    <div class="posts container h-100 w-100 justify-content-center">
        
        <a href="/dashboard/{{id}}">
            <p>Topic: {{this.topic}} Blog Post: {{this.content}}</p>
        </a>
    </div>

    {{/each}}

    <a href="/newblogpost">

        <button>New blog post</button>
    </a>
</div>