{{!-- {{#each blogData as |post|}}
{{> homepage-details}}
{{/each}} --}}

<section class="card">
  
    <header>{{topic}}</header>

    <div class="card-body">
      
      <p>By: {{username}}</p>
      <p>{{content}}</p>
    </div>
  </a>
</section>