<h2>Signup</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="username-login">Username:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Signup</button>
  </div>
</form>

<div>
    <a href="/login">Login instead</a>
  </div>

{{!-- <script src="/js/login.js"></script> --}}