:root {
  --navbar: #86938f;
  --page: #000;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--page);
  background-image: url(blog_background.png);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat, no-repeat;
  background-size: 100vw, cover;
  align-items: center;
  justify-content: center;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  margin-top: 20rem;
  display: flex;
  background-color: var(--navbar);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}

span {
  color: #0EC;
}

a {
  color: #0D1;
}

a:hover {
  color: white;
}

p {
  color: #0D1;
}

.posts {
  background-color: var(--navbar);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 11px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}
